nav li {
    display: flex;
    align-items: center;
}

.bucket-icon i {
    height: 64px !important;
    line-height: 64px !important;
}

.bucket-icon a {
    display: flex;
}

.bucket_counter {
    position: static;
}

.brand-logo {
    margin-left: auto;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.material-icons {
    font-size: 2.4em;
    cursor: pointer;
}

.card-content__count {
    margin-left: 1rem;
}

.card {
    width: calc(25% - 2rem);
    margin: 1rem;
}

.card .card-image .card-title {
    color: black;
    font-weight: 400;
    width: 100%;
    padding: 1rem;
}

.collection .collection-item {
    display: flex;
}

.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: #ee6e73;
    display: block;
    margin-bottom: 20px;

}

.collection .collection-item img {
    width: 150px;
    margin-right: 25px;
}

.item-desc {
    align-self: center;
}

@media screen and (max-width: 1199px) {
    .card {
        width: calc((100% / 3) - 2rem);
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: calc((100% / 2) - 2rem);
    }
}

@media screen and (max-width: 601px) {
    .bucket-icon i {
        height: 56px !important;
        line-height: 56px !important;
    }
}

@media screen and (max-width: 568px) {
    nav .brand-logo {
        transform: none;
        left: 1rem;
    }

    nav ul a {
        padding: 0 .5rem;
    }

    .card {
        width: 100%;
        margin: 0 0 2rem;
    }

    .alert {
        width: 100%;
    }
}
